/* base styles */
:root {
  --primary-clr-1: hsl(180, 62%, 55%); /* cyan */
  --primary-clr-2: hsl(0, 78%, 62%); /* red */
  --primary-clr-3: hsl(34, 97%, 64%); /* orange */
  --primary-clr-4: hsl(212, 86%, 64%); /* blue */
  --neutral-clr-1: hsl(234, 12%, 34%); /* very dark blue */
  --neutral-clr-2: hsl(229, 6%, 66%); /* grayish blue */
  --neutral-clr-3: hsl(0, 0%, 98%); /* very light gray */
  --accent-clr: hsl(229, 6%, 66%, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

*::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  background-color: hsl(0, 0%, 100%);
  background-color: var(--neutral-clr-3);
  height: auto;
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.container {
  --max-width: 1200px;
  --padding-inline: 2rem;
  --padding-block: 1rem;

  width: min(var(--max-width), 100% - var(--padding-inline));
  padding-block: var(--padding-block);
  margin-inline: auto;
}

/* general styles */
header {
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

header .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

header .button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.logo-text {
  font-size: 1.5rem;
}

button[name="book"] {
  background-color: transparent;
  border: 0;
  border-left: 0.35rem solid var(--primary-clr-4);
  padding: 0.25rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.2s;
}

button[name="book"]:hover {
  background-color: var(--primary-clr-4);
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  border-left: 0;
}

